page-home {
    .content-md {
        //background-image: url('img/home.jpg');
        background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    }

    .card-md {
        background: transparent;
    }

    .pcard {
        background: transparent;
        box-shadow: none;

        .item-md {
            background: none;
        }
    }

    .precipType {
        color: orangered;
    }

    .precipeProba {
        color: orangered;
        font-size: x-large;
    }

    .annonce {
        //background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    }

    .annonce>ion-card-content {
        color: white;
    }

    ion-col {
        .card-md {
            border-radius: 10px;
            min-height: 120px
        }
    }
    /*
        background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    */

}
