page-nextweek {
    .content-md {
        
            background: #83a4d4;
            background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4); 
            background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
        
        //background-color: orange;
        
        .card-md {
            background-color: transparent;
            box-shadow: none;
            
            .cardHead { //works
                color: white;
                font-weight: lighter;
            }
            ion-card-content { //works

                .weekDescription {
                    
                }

            }
        }  

        .item-md {
            background-color: transparent;
            
            .dayofweek {
            
            }

            p {

            }
        }
    }
}
