<!--
  Generated template for the NextWeekForecastPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Next Week Forecast</ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="online; else offline">
    <ion-card>
      <ion-card-content>
        <h2 text-center> {{ nextWeekForcast.summary }} </h2>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item class="ionitems" *ngFor="let day of nextWeekForcast.data" class="">
          <i class="{{ day.css_icon_class }}" item-start></i>     
          <ion-icon name="{{ day.css_icon_class }}" item-start></ion-icon>
          <h2 class="dayofweek">{{ day.readableday }}</h2>
          <h3> {{ day.summary }} </h3>
          <p>Entre 
            {{ day.temperatureMin | number:'.1-1' }}°C - 
            {{ day.temperatureMax | number:'.1-1' }}°C 
          </p>
          <i class="wi wi-wind towards-sse" item-start></i>
      </ion-item>
    </ion-list>
  </div>
  
  <ng-template #offline>
    <offline-message></offline-message>
  </ng-template>
</ion-content>
